<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
	<base href="">
	<title>PrintPal Admin</title>
	<meta charset="utf-8" />
	<meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 94,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free." />
	<meta name="keywords" content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="shortcut icon" href="~/img/Printpals-logo-withspace.svg" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Page Vendor Stylesheets(used by this page)-->
	<link href="~/lib/metronic/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/metronic/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Page Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="~/lib/metronic/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/metronic/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->

	<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
	<link rel="stylesheet" href="~/lib/sweetalert/sweetalert.css" />
	<link rel="stylesheet" href="~/lib/dropzone/progress.css" />
	<style>
		.fileuploader {
			position: relative;
			background: white;
			width: 100%;
			height: 400px;
			border: 1px solid #e9e9e9;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		}

			.fileuploader #upload-label {
				background: #2196F3;
				color: #fff;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				padding: 16px;
				position: absolute;
				top: 45%;
				left: 0;
				right: 0;
				margin-right: auto;
				margin-left: auto;
				min-width: 20%;
				text-align: center;
				padding-top: 40px;
				transition: 0.8s all;
				-webkit-transition: 0.8s all;
				-moz-transition: 0.8s all;
				cursor: pointer;
			}

			.fileuploader.active {
				background: #2196F3;
			}

				.fileuploader.active #upload-label {
					background: #fff;
					color: #2196F3;
				}

			.fileuploader #upload-label span.title {
				font-size: 1.1em;
				font-weight: bold;
				display: block;
			}

			.fileuploader #upload-label i {
				text-align: center;
				display: block;
				background: white;
				color: #2196F3;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				border-radius: 100%;
				width: 80px;
				height: 80px;
				font-size: 60px;
				padding-top: 10px;
				position: absolute;
				top: -50px;
				left: 0;
				right: 0;
				margin-right: auto;
				margin-left: auto;
			}
		/** Preview of collections of uploaded documents **/
		.preview-container {
			position: fixed;
			right: 10px;
			bottom: 0px;
			width: 300px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			visibility: hidden;
		}

			.preview-container #previews {
				max-height: 400px;
				overflow: auto;
			}

				.preview-container #previews .zdrop-info {
					width: 88%;
					margin-right: 2%;
				}

				.preview-container #previews.collection {
					margin: 0;
				}

					.preview-container #previews.collection .actions a {
						width: 1.5em;
						height: 1.5em;
						line-height: 1;
					}

						.preview-container #previews.collection .actions a i {
							font-size: 1em;
							line-height: 1.6;
						}

					.preview-container #previews.collection .dz-error-message {
						font-size: 0.8em;
						margin-top: -12px;
						color: #F44336;
					}

			.preview-container .FU-header {
				background: #2196F3;
				color: #fff;
				padding: 8px;
			}

				.preview-container .FU-header i {
					float: right;
					cursor: pointer;
				}

		.PrintPal_logo {
			margin-left: auto;
			margin-bottom: auto;
			width: 170px;
			height: 65px;
		}

		.logo {
			display: block;
			width: 170px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 52px;
		}

		.Subscript_logo {
			text-align: center;
			font-size: 11px;
			font-weight: bold;
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
		}
	</style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Aside-->
			<div id="kt_aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
				<!--begin::Brand-->
				<div class="aside-logo flex-column-auto" id="kt_aside_logo">
					<!--begin::Logo-->
					<a href="#">
						<img alt="Logo" src="~/img/Printpals-logo-withspace.svg" class="h-50px logo" />
					</a>
					<!--end::Logo-->
					<!--begin::Aside toggler-->
					<div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
						<!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
						<span class="svg-icon svg-icon-1 rotate-180">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="currentColor" />
								<path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="currentColor" />
							</svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<!--end::Aside toggler-->
				</div>
				<!--end::Brand-->
				<!--begin::Aside menu-->
				<div class="aside-menu flex-column-fluid">
					<!--begin::Aside Menu-->
					<div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
						<!--begin::Menu-->

						<div class="menu-item">
							<div class="menu-content pt-8 pb-2">
								<span class="menu-section text-muted text-uppercase fs-8 ls-1">Products</span>
							</div>
						</div>
						<div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true" data-kt-menu-expand="false">
							<div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
								<span class="menu-link">
									<span class="menu-icon">
										<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
										<span class="svg-icon svg-icon-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
												<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
												<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
												<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</span>
									<span class="menu-title">Product Management</span>
									<span class="menu-arrow"></span>
								</span>
								<div class="menu-sub menu-sub-accordion menu-active-bg">
									<div class="menu-item">
										<a class="menu-link " href="/admin">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
											<span class="menu-title">Products</span>
										</a>
									</div>
									<div class="menu-item">
										<a class="menu-link active" href="/admin/excelupload">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
											<span class="menu-title">Excel Upload</span>
										</a>
									</div>
								</div>
							</div>
							<!--
							<div class="menu-item">
								<div class="menu-content pt-8 pb-2">
									<span class="menu-section text-muted text-uppercase fs-8 ls-1">Users</span>
								</div>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="#" title="" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right" data-bs-original-title="Admin Users">
									<span class="menu-icon">
										<span class="svg-icon svg-icon-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<path d="M6.28548 15.0861C7.34369 13.1814 9.35142 12 11.5304 12H12.4696C14.6486 12 16.6563 13.1814 17.7145 15.0861L19.3493 18.0287C20.0899 19.3618 19.1259 21 17.601 21H6.39903C4.87406 21 3.91012 19.3618 4.65071 18.0287L6.28548 15.0861Z" fill="currentColor"></path>
												<rect opacity="0.3" x="8" y="3" width="8" height="8" rx="4" fill="currentColor"></rect>
											</svg>
										</span>
									</span>
									<span class="menu-title">Users</span>
								</a>
							</div>
							-->
						</div>
						<!--end::Menu-->
					</div>
					<!--end::Aside Menu-->
				</div>
				<!--end::Aside menu-->
			</div>
			<!--end::Aside-->
			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<!--begin::Header-->
				<div id="kt_header" style="" class="header align-items-stretch">
					<!--begin::Container-->
					<div class="container-fluid d-flex align-items-stretch justify-content-between">
						<!--begin::Aside mobile toggle-->
						<div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
							<div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_mobile_toggle">
								<!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
								<span class="svg-icon svg-icon-1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
										<path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
									</svg>
								</span>
								<!--end::Svg Icon-->
							</div>
						</div>
						<!--end::Aside mobile toggle-->
						<!--begin::Mobile logo-->
						<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
							<a href="../../demo1/dist/index.html" class="d-lg-none">
								<img alt="Logo" src="~/img/Printpals-logo-withspace.svg" class="h-30px" />
							</a>
						</div>
						<!--end::Mobile logo-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Header-->
				<!--begin::Content-->
				<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
					<!--begin::Toolbar-->
					<div class="toolbar" id="kt_toolbar">
						<!--begin::Container-->
						<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
							<!--begin::Page title-->
							<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
								<!--begin::Title-->
								<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">
									Printpal Database
									<!--begin::Separator-->
									<span class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"></span>
									<!--end::Separator-->
									<!--begin::Description-->
									<span class="text-muted fs-7 fw-bold mt-2">You can update the printpal database by uploading an excel file here.</span>
									<!--end::Description-->
								</h1>
								<!--end::Title-->
							</div>
							<!--end::Page title-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Post-->
					<div class="post d-flex flex-column-fluid" id="kt_post">
						<!--begin::Container-->
						<div id="kt_content_container" class="container-xxl">
							<!--begin::Row-->
							<div class="row gy-5 g-xl-8">
								<!--begin::Col-->
								<div class="col-xl-12">
									<div class="logo" style="margin-bottom:5px;">
										<img src="~/img/Printpals-logo-withspace.svg" class="PrintPal_logo" />
										<div class="Subscript_logo">We print anything, find it here.</div>
									</div>
									<div class="row">
										<div class="col s12">
											<!-- Uploader Dropzone -->
											<div id="zdrop" class="fileuploader ">
												<div id="upload-label" style="width: 200px;">
													<i class="fa fa-cloud"></i>
													<span class="title">Drag your Files here</span>
													<span>Your excel file will added to the printpal database. </span>
												</div>
											</div>
											<!-- Preview collection of uploaded documents -->
											<div class="preview-container">
												<div class="FU-header">
													<span>Uploaded Files</span>
													<i id="controller" class="fa fa-arrow-down"></i>
												</div>
												<div class="collection card p-5" id="previews">
													<div class="collection-item clearhack valign-wrapper item-template" id="zdrop-template">
														<div class="left pv zdrop-info" data-dz-thumbnail>
															<div>
																<span data-dz-name></span> <span data-dz-size></span>
															</div>
															<div class="progress" style="margin-bottom:15px">
																<div class="determinate" style="width:0" data-dz-uploadprogress></div>
															</div>
															<div class="dz-error-message"><span data-dz-errormessage></span></div>
														</div>

														<div class="secondary-content actions">
															<a href="#!" data-dz-remove class="btn-floating ph red white-text waves-effect waves-light"><i class="fa fa-close"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<script src="~/lib/jquery/dist/jquery.min.js"> </script>
									<script src="~/lib/dropzone/materialize.min.js"> </script>
									<script src="~/lib/dropzone/dropzone.js"> </script>
									<script src="~/lib/sweetalert/sweetalert.min.js"> </script>

									<script>
										$(document).ready(function () {

											initFileUploader("#zdrop");

											function initFileUploader(target) {
												var previewNode = document.querySelector("#zdrop-template");
												previewNode.id = "";
												var previewTemplate = previewNode.parentNode.innerHTML;
												previewNode.parentNode.removeChild(previewNode);


												var zdrop = new Dropzone(target, {
													url: '/Admin/AddDB',
													maxFilesize: 20,
													previewTemplate: previewTemplate,
													autoQueue: true,
													previewsContainer: "#previews",
													clickable: "#upload-label",
													acceptedFiles: ".xlsx,.xls,.csv",
												});

												zdrop.on("addedfile", function (file) {
													$('.preview-container').css('visibility', 'visible');
												});

												zdrop.on("totaluploadprogress", function (progress) {
													var progr = document.querySelector(".progress .determinate");
													if (progr === undefined || progr === null)
														return;

													progr.style.width = progress + "%";
												});

												zdrop.on('dragenter', function () {
													$('.fileuploader').addClass("active");
												});

												zdrop.on('dragleave', function () {
													$('.fileuploader').removeClass("active");
												});

												zdrop.on('drop', function () {
													$('.fileuploader').removeClass("active");
												});
												zdrop.on('success', function (res) {
													console.log("Here res");
													console.log(res);
													if (res.status == "success") {
														console.log("OKOK!!");
														Swal.fire({
															text: "Thank you, the database is updated.",
															icon: "success",
															buttonsStyling: false,
															confirmButtonText: "Ok, got it!",
															customClass: {
																confirmButton: "btn btn-primary"
															}
														});
													}
												});

												var toggle = true;
												/* Preview controller of hide / show */
												$('#controller').click(function () {
													if (toggle) {
														$('#previews').css('visibility', 'hidden');
														$('#controller').attr("class", "fa fa-arrow-up");
														$('#previews').css('height', '0px');
														toggle = false;
													} else {
														$('#previews').css('visibility', 'visible');
														$('#controller').attr("class", "fa fa-arrow-down");
														$('#previews').css('height', 'initial');
														toggle = true;
													}
												});
											}
										});
									</script>
								</div>
								<!--end::Col-->
							</div>
							<!--end::Row-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Post-->
				</div>
				<!--end::Content-->
				<!--begin::Footer-->
				<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
					<!--begin::Container-->
					<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
						<!--begin::Copyright-->
						<div class="text-dark order-2 order-md-1">
							<span class="text-muted fw-bold me-1">2023©</span>
							<a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">DevMaster</a>
						</div>
						<!--end::Copyright-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Root-->
	<!--end::Main-->
	<!--begin::Javascript-->
	<script>var hostUrl = "~/lib/metronic/";</script>
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="~/lib/metronic/plugins/global/plugins.bundle.js"></script>
	<script src="~/lib/metronic/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Page Vendors Javascript(used by this page)-->
	<script src="~/lib/metronic/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
	<script src="~/lib/metronic/plugins/custom/datatables/datatables.bundle.js"></script>
	<!--end::Page Vendors Javascript-->
	<!--begin::Page Custom Javascript(used by this page)-->
	<script src="~/lib/metronic/js/widgets.bundle.js"></script>
	<script src="~/lib/metronic/js/custom/widgets.js"></script>
	<script src="~/lib/metronic/js/custom/apps/chat/chat.js"></script>
	<script src="~/lib/metronic/js/custom/utilities/modals/upgrade-plan.js"></script>
	<script src="~/lib/metronic/js/custom/utilities/modals/create-app.js"></script>
	<script src="~/lib/metronic/js/custom/utilities/modals/users-search.js"></script>
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
</body>
<!--end::Body-->
</html>